body {
  background-color: #000;
  color: #fff;
  background: url("/images/woodbg.jpg");
}
.tap-number {
	width: 70px;
}
.card {
	background-color: rgba(0, 0, 0, 0.4)
}
.card-text {
	font-size: 1.6rem;
}

/* SRM, IBU, ABV Indicators */
.srm-container{
	position: relative;
	height: 100px;
	width: 55px;
	margin: 0 auto;
}
.srm-indicator{
	position: absolute; 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-mask-image: url(/images/srm/pint-mask.png);
}
.srm-stroke{
	position: absolute; 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: url(/images/srm/pint-stroke.png)
}


.ibu-container{
	position: relative;
	height:100px;
	width:53px;
	margin: 0 auto;
}
.ibu-indicator{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(img/ibu/stroke.png) no-repeat bottom left;
}
.ibu-indicator .ibu-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(img/ibu/full.png) no-repeat bottom left;
}
.ibu-max{
	position: absolute;
	top: -5px;
	left: 35px;
}