body {
  background-color: #000;
  color: #fff;
  background: url("/images/woodbg.jpg");
}
.main-container {
	height: 1080px;
	/* overflow: hidden; */
}
.content-container {
	height: 1055px;
	overflow: hidden;
}
.copyright-container {

}
.copyright {
	color: #888;
	text-align: center;
	margin: 0;
}

/* Cards */
.tap-number {
	width: 70px;
}
.card {
	background-color: rgba(0, 0, 0, 0.4);
	height: 880px;
	overflow: hidden;
}
.card-text {
	font-size: 1.6rem;
}

/* Misc */
hr {
	border-color: #666;
	margin: 0;
}

/* SRM, IBU Indicators */
.srm-container{
	position: relative;
	height: 100px;
	width: 55px;
	margin: 0 auto;
}
.srm-indicator{
	position: absolute; 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-mask-image: url(/images/srm/pint-mask.png);
}
.srm-stroke{
	position: absolute; 
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: url(/images/srm/pint-stroke.png)
}

.ibu-container{
	position: relative;
	height:100px;
	width:53px;
	margin: 0 auto;
}
.ibu-indicator{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url(/images/ibu/stroke.png) no-repeat bottom left;
}
.ibu-indicator .ibu-full{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(/images/ibu/full.png) no-repeat bottom left;
}



